<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<script src="https://code.jquery.com/jquery.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="/assets/js/burger.js"></script>
    <title>Eat The Burger!</title>
</head>
<body>

    <div class ="container text-center main-text">
        <div class="row">
            <div class ="col-md-12">
                <img class="img-responsive" src="https://static.wixstatic.com/media/91c4ea_4611fdee082e400e856dd47048bc1c1f~mv2_d_3845_2564_s_4_2.png/v1/crop/x_0,y_121,w_3845,h_2322/fill/w_1340,h_800,al_c,q_90,usm_0.66_1.00_0.01/Hamburger.webp" alt="Veggie burger drawing">
                <h1 class="display-4">Eat the Burger!</h1>
                <p class="lead">Choose the burger and eat it!</p>
            </div>
        </div>
    </div>
    {{{ body }}}
</body>
</html>