<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <h3>Burgers ready to eat</h3>
      <ul>
        {{#each burgers}}
          {{#unless this.eaten}}
            <li class="burger-list">{{this.burger_type}}
              <button type="button" class="btn btn-primary eat-btn" data-id="{{id}}">Eat it!</button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

  <div class="col-md-5 offset-md-1">
      <h3>Burgers that have been eaten</h3>
      <ul>
        {{#each burgers}}
          {{#if this.eaten}}
            <li class="burger-eaten">{{this.burger_type}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 offset-md-3 text-center">
            <form>
                <div class="form-group">
                    <label id="input-label" for="add-burger-box">Choose a Burger</label>
                    <input type="text" class="form-control" id="add-burger-box" placeholder="Enter the name of desired burger">
                </div>
                <button type="submit" id="submit-burger" class="btn btn-primary">Order</button>
            </form>
        </div>
    </div>
</div>